In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/wcansley/.local/lib/python3.8/site-packages (2.0.25)
Requirement already satisfied: greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) in /home/wcansley/.local/lib/python3.8/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/wcansley/.local/lib/python3.8/site-packages (from sqlalchemy) (4.8.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pypyodbc

Requirement already satisfied: pypyodbc in /home/wcansley/.local/lib/python3.8/site-packages (1.3.6)
Requirement already satisfied: setuptools in /usr/lib/python3/dist-packages (from pypyodbc) (45.2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy.engine import URL
import pypyodbc
import pandas as pd

###################################

# declares the variables and defines them for the server connections, along with the table names that are going to be assigned
SERVER_NAME = 'tcp:tecafs.database.windows.net,1433'
DATABASE_NAME = 'TecafsSqlDatabase'
TABLE_NAME = 'clean_data'

###################################

# makes the connection to the database with the connection string; has the driver, server name, database name, id, and password
connection_string = f"""
    DRIVER={{ODBC Driver 18 for SQL Server}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Uid={'tecafs2023'};
    Pwd={'Capstone50'};
"""
###################################

# attempted connection string, didn't work though

#connection_string1 = pypyodbc.connect("Driver={ODBC Driver 18 for SQL Server};Server=tcp:tecafs.database.windows.net,1433;Database=TecafsSqlDatabase;Uid=tecafs2023;Pwd={Capstone50};")

###################################


connection_url = URL.create('mssql+pyodbc', query={'odbc_connect': connection_string})
engine = create_engine(connection_url, module=pypyodbc)

In [2]:
import pandas as pd

metadata = MetaData()
metadata.reflect(bind=engine)

# Print the names of tables
print("Tables in the database:")
for table in metadata.tables.values():
    print(table.name)

Tables in the database:
BuildVersion
clean_data
ErrorLog
ftworthweather_data
ML_forecast
synthesize_forecast
User_Info
VDB_forecast
weather

In [3]:
from pathlib import Path
import pandas as pd

#Query the data from the clean_data table
query = "SELECT * FROM clean_data" 

#Execute the query and load data into a Dataframe
clean_data_df = pd.read_sql(query, engine)

#Print the Dataframe
print(clean_data_df)

# Write the modified Dataframe back to a new CSV file
data_folder = Path("/mnt/c/Users/wcans/milvus_compose/ERCOT_Hourly_Load_2022/")
output_csv_file_path = data_folder / 'vdb_sql_read_data_test.csv'
clean_data_df.to_csv(output_csv_file_path, index=False)

                    hour_end         coast         east     far_west  \
0    2013-01-01 01:00:00.003   7607.189871  1074.024285  1411.823159
1    2013-01-01 01:59:59.997   7389.267519  1035.189180  1403.601093
2    2013-01-01 03:00:00.000   7179.748411  1036.216739  1395.131213
3    2013-01-01 04:00:00.003   7039.692524  1032.777439  1395.593012
4    2013-01-01 04:59:59.997   6991.412764  1042.906443  1401.239529
...                      ...           ...          ...          ...
8755 2013-12-31 19:59:59.997  10825.268372  1461.888557  1874.226858
8756 2013-12-31 21:00:00.000  10509.204046  1441.627026  1869.683907
8757 2013-12-31 22:00:00.003  10146.767461  1424.347535  1862.118638
8758 2013-12-31 22:59:59.997   9740.175233  1388.813409  1846.269656
8759 2014-01-01 00:00:00.000   9412.826300  1366.733450  1830.719100

           north       north_c     southern      south_c         west  \
0     763.069242  10370.322921  2206.945802  4368.528687   883.029500
1     754.425986  10153.942806  2160.082197  4233.635250   872.532258
2     746.215515   9989.243532  2065.369913  4082.897707   868.951334
3     749.028766   9947.855512  1991.151652  4010.524187   865.799032
4     757.148203  10097.444234  1954.963942  4038.678495   879.988054
...          ...           ...          ...          ...          ...
8755  863.291663  13575.202848  3919.412084  6906.843107  1166.136345
8756  853.958216  13348.121414  3760.801719  6693.169296  1156.226842
8757  840.019363  13113.728670  3597.222892  6589.516437  1147.052275
8758  819.977135  12784.725967  3447.566135  6399.695034  1128.938267
8759  802.318910  12516.250400  3340.239500  6240.917540  1117.115920

             ercot
0     28684.933467
1     28002.676290
2     27363.774363
3     27032.422123
4     27163.781663
...            ...
8755  40592.269834
8756  39632.792465
8757  38720.773270
8758  37556.160835
8759  36627.121120

[8760 rows x 10 columns]

In [6]:
# Define the SQL query

query = """
    SELECT * FROM clean_data 
    WHERE DATEPART(month, hour_end) = 1
    AND DATEPART(year, hour_end) = 2013;
"""

# Execute the query and load data into a DataFrame
jan_data = pd.read_sql(query, engine)

# Print the DataFrame
print(jan_data)




query = """
    SELECT * FROM clean_data
    WHERE south_c >= 8000;
"""

# Execute the query and load data into a DataFrame
large_power = pd.read_sql(query, engine)

# Print the DataFrame
print(large_power)

                   hour_end        coast         east     far_west  \
0   2013-01-01 01:00:00.003  7607.189871  1074.024285  1411.823159
1   2013-01-01 01:59:59.997  7389.267519  1035.189180  1403.601093
2   2013-01-01 03:00:00.000  7179.748411  1036.216739  1395.131213
3   2013-01-01 04:00:00.003  7039.692524  1032.777439  1395.593012
4   2013-01-01 04:59:59.997  6991.412764  1042.906443  1401.239529
..                      ...          ...          ...          ...
738 2013-01-31 19:00:00.003  9548.444485  1335.978377  1507.014586
739 2013-01-31 19:59:59.997  9657.368663  1379.143751  1552.869725
740 2013-01-31 21:00:00.000  9523.275000  1382.992255  1565.362806
741 2013-01-31 22:00:00.003  9155.456175  1326.649295  1548.945064
742 2013-01-31 22:59:59.997  8622.066013  1244.068590  1503.230477

          north       north_c     southern      south_c         west  \
0    763.069242  10370.322921  2206.945802  4368.528687   883.029500
1    754.425986  10153.942806  2160.082197  4233.635250   872.532258
2    746.215515   9989.243532  2065.369913  4082.897707   868.951334
3    749.028766   9947.855512  1991.151652  4010.524187   865.799032
4    757.148203  10097.444234  1954.963942  4038.678495   879.988054
..          ...           ...          ...          ...          ...
738  797.067231  11765.444385  2539.120293  5697.852163   981.101838
739  821.076307  12017.995270  2665.018514  5917.489465  1031.190062
740  836.453910  12017.849837  2662.630944  5934.923883  1037.800176
741  826.764248  11708.702132  2576.203776  5777.581519  1016.834190
742  802.161951  11096.398866  2399.951077  5426.799287   954.175247

            ercot
0    28684.933467
1    28002.676290
2    27363.774363
3    27032.422123
4    27163.781663
..            ...
738  34172.023359
739  35042.151757
740  34961.288811
741  33937.136398
742  32048.851508

[743 rows x 10 columns]
                    hour_end         coast         east     far_west  \
0    2013-01-14 07:59:59.997  11031.726799  1798.401096  1824.383426
1    2013-01-15 18:00:00.000  12547.031438  1906.596857  1621.642857
2    2013-01-15 19:00:00.003  12870.567435  2006.782085  1702.126273
3    2013-01-15 19:59:59.997  12803.997675  1990.068378  1744.946461
4    2013-01-15 21:00:00.000  12591.629430  1952.785925  1759.227730
...                      ...           ...          ...          ...
1417 2013-12-12 07:00:00.003  11746.624301  1836.003778  1980.900246
1418 2013-12-12 07:59:59.997  11857.075330  1872.519181  2027.437016
1419 2013-12-12 09:00:00.000  11619.903562  1808.926496  1996.337982
1420 2013-12-16 07:00:00.003  12245.943925  1786.054069  1894.360404
1421 2013-12-16 07:59:59.997  12276.956693  1803.940663  1945.312518

            north       north_c     southern      south_c         west  \
0     1122.111073  17887.822264  3318.712887  8117.635769  1486.086505
1     1004.379638  16984.277403  3844.887156  8264.485082  1285.577426
2     1052.725610  17557.899928  4144.600893  8695.751102  1378.919896
3     1051.128634  17265.789553  4229.626600  8688.163905  1405.688425
4     1047.616410  17084.547158  4215.022521  8534.121701  1410.728734
...           ...           ...          ...          ...          ...
1417  1142.168349  18348.359038  3726.097582  8064.961543  1599.839758
1418  1168.709845  18765.666995  3792.347103  8311.580853  1643.086008
1419  1143.202238  17843.330695  3633.751692  8012.325860  1582.697425
1420   959.224126  15364.744915  4197.755784  8113.222103  1431.902814
1421   991.536523  15899.592471  4300.901710  8294.511105  1475.521232

             ercot
0     46586.879818
1     47458.877857
2     49409.373222
3     49179.409631
4     48595.679609
...            ...
1417  48444.954595
1418  49438.422331
1419  47640.475951
1420  45993.208141
1421  46988.272914

[1422 rows x 10 columns]